html {
    font-size: 10px;
}

body {
    @extend %font-primary;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: normal)
}

h1 {
    @extend %font-add;
    @include font(44px, 54px, 700);
    @include media-mobile {
        @include font(32px, 42px, 700)
    }
}

h2 {
    @include font(34px, 46px, 700);
}

h3 {
    @include font(24px, 34px, 700);
}

h4 {
    @include font(22px, 30px, 600);
}

h5 {
    @include font(16px, 26px, 700);
}

.block-shadowed {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}