.ico {
    cursor: pointer;
    display: inline-block;
}

.ico_play {
    background-image: url('../img/icons/play.svg');
    width: 18px;
    height: 19px;
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    &_violet {
        background-color: $color-violet;
    }
    &_yellow {
        background-color: $color-yellow;
    }
    &_red {
        background-color: $color-red;
    }
    &_blue {
        background-color: $color-blue;
    }
}

.ico_arrow {
    background-image: url('../img/icons/arrow.svg');
    width: 12px;
    height: 17px;
}

.ico_wave {
    background-image: url('../img/icons/wave.svg');
    width: 18px;
    height: 14px;
}

.ico_heart {
    background-image: url('../img/icons/heart.svg');
    width: 17px;
    height: 15px;
}

.ico_sandwatch {
    background-image: url('../img/icons/sandwatch.svg');
    width: 15px;
    height: 17px;
}

.icon-circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: $color-light;
    border-radius: 90px;
}

.ico_phone {
    width: 7px;
    height: 11px;
    background-image: url('../img/icons/phone.svg');
}

.ico_letter {
    width: 11px;
    height: 8px;
    background-image: url('../img/icons/letter.svg');

}