.tools__wrapper {
    padding-bottom: 90px;
    background-image: url(../img/tools-background.svg);
    background-position: bottom center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.tools__title {
    max-width: 462px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
}

.tool__icon {
    margin: 0 0 30px;
}

.tool__title {
    margin: 0 0 16px;
}

.tools__button {
    margin-top: 60px;
    text-align: center;
}

